body{
    background-color: black;
}
.nav{
    list-style: none;
    background-color: aquamarine;
    padding:10px;
    border-radius: 1cm;
    cursor:pointer;
}
.mainnav{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    padding: 20px;
    border-radius: 1cm;
    padding-bottom: 12px;
    padding-top: 12px;
}
#search{
    background-color:white;
    display: none;
    display: block;
    cursor:auto;
}
.mbody{
    margin: auto;
    width: fit-content;
}
.para{
    color: white;
    font-size: 40px;
    display:none;
}
